<div class="tc-lang-block tc-lang-block-ja">
	<a href="{{ content.url_xivdb_ja }}" data-xivdb-ignore="1" data-tt="{{ languages.custom[824] }}">{{ content.name_ja }}</a>
</div>

<div class="tc-lang-block tc-lang-block-en">
	<a href="{{ content.url_xivdb }}" data-xivdb-ignore="1" data-tt="{{ languages.custom[823] }}">{{ content.name_en }}</a>
</div>

<div class="tc-lang-block tc-lang-block-fr">
	<a href="{{ content.url_xivdb_fr }}" data-xivdb-ignore="1" data-tt="{{ languages.custom[825] }}">{{ content.name_fr }}</a>
</div>

<div class="tc-lang-block tc-lang-block-de">
	<a href="{{ content.url_xivdb_de }}" data-xivdb-ignore="1" data-tt="{{ languages.custom[826] }}">{{ content.name_de }}</a>
</div>


{# <a href="{{ content.url_xivdb_ch }}" data-xivdb-ignore="1" data-tt="{{ languages.custom[827] }}">中文</a> #}
