{% extends 'Default/index.twig' %}
{% set pagetitle %}Armoire{% endset %}
{% set pagedescription %}A list of {{ list|length }} items that can go into the armoire.{% endset %}

{% block body %}
<div class="content-block pad30">

    <div class="page-pad-30">
        {{ PageMacro.heading1('Armoire', false, true) }}
        <p>A list of <strong>{{ list|length }}</strong> items that can go into the armoire.</p>
		<div class="panel">
			<table>
				<thead>
					<th width="5%" class="tac">ID</th>
					<th width="50%">{{ languages.custom[474] }}</th>
					<th width="40%">{{ languages.custom[316] }}</th>
					<th width="5%" class="tac">{{ languages.custom[393] }}</th>
				</thead>
				<tbody>
					{% for entry in list %}
					<tr>
						<td class="tac">{{ entry.item.id }}</td>
						<td><a href="{{ entry.item.url }}">{{ entry.item.name }}</a></td>
						<td>{{ entry.item.category_name }}</td>
						<td class="tac">{{ entry.order }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>

</div>
{% endblock %}
