<div class="dropdown-container dropdown-container-tiny">
    <div class="cf">
        {{ mm.title(languages.custom[961]) }}
        {{ mm.tinylink(languages.custom[732], '/maps') }}
        {{ mm.tinylink(languages.custom[803], '/lore-finder') }}

        {#
        {{ mm.tinylink(languages.custom[733], '#', true) }}
        {{ mm.tinylink(languages.custom[273], '#', true) }}
        {{ mm.tinylink(languages.custom[141], '#', true) }}
        #}
    </div>
    {#
    <hr>
    <div class="cf">
        {{ mm.title(languages.custom[962]) }}
        {{ mm.tinylink(languages.custom[216], '#', true) }}
        {{ mm.tinylink(languages.custom[735], '#', true) }}
    </div>
    #}
</div>
