<div class="dropdown-container dropdown-container-tiny">
    <div class="cf">
        {{ mm.title(languages.custom[660]|upper) }}
        {{ mm.tinylink('<img src="/img/flags/english.png" height="16px" style="vertical-align:top;margin:8px 10px 0 0;">English', urls.en) }}
        {{ mm.tinylink('<img src="/img/flags/french.png" height="16px" style="vertical-align:top;margin:8px 10px 0 0;">Français', urls.fr) }}
        {{ mm.tinylink('<img src="/img/flags/german.png" height="16px" style="vertical-align:top;margin:8px 10px 0 0;">Deutsch', urls.de) }}
        {{ mm.tinylink('<img src="/img/flags/japanese.png" height="16px" style="vertical-align:top;margin:8px 10px 0 0;">日本語', urls.ja) }}
    </div>
</div>
