<div class="search-options">
	<div class="search-groups">
		<div>
			<h2>{{ languages.custom[941] }}</h2>
			<div class="search-form search-form-top search-core-options">
				<select id="searchAutoEnabled">
					<option value="on">{{ languages.custom[856] }}</option>
					<option value="off">{{ languages.custom[855] }}</option>
				</select>
				<p>{{ languages.custom[952] }}</p>
			</div>

			<h2>{{ languages.custom[940] }}</h2>
			<div class="search-form search-core-options">
				<input type="text" id="searchInputDelay" name="searchInputDelay">
				<p>{{ languages.custom[942] }}</p>
			</div>
		</div>
		<div>
			<h2>{{ languages.custom[939] }}</h2>
			<div class="search-form search-form-top search-view-options">
				<button data-search-view="grid">
					<i class="fa fa-th-large"></i>
					{{ languages.custom[271] }}
				</button>
				<button data-search-view="list">
					<i class="fa fa-list"></i>
					{{ languages.custom[270] }}
				</button>
				<p>{{ languages.custom[944] }}</p>
			</div>

			<h2>{{ languages.custom[943] }}</h2>
			<div class="search-form search-core-options">
				<select id="searchResultsLimit">
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
					<option value="60">60</option>
					<option value="75">75</option>
					<option value="90">90</option>
				</select>
				<p>{{ languages.custom[951] }}</p>
			</div>
		</div>
		<div>
			<h2>{{ languages.custom[946] }}</h2>
			<div class="search-form search-form-top search-core-options">
				<select id="searchStickyNav">
					<option value="on">{{ languages.custom[856] }}</option>
					<option value="off">{{ languages.custom[855] }}</option>
				</select>
				<p>{{ languages.custom[947] }}</p>
			</div>

			<h2>{{ languages.custom[1048] }}</h2>
			<div class="search-form search-core-options">
				<select id="searchStrict">
					<option value="on">{{ languages.custom[856] }}</option>
					<option value="off">{{ languages.custom[855] }}</option>
				</select>
				<p>{{ languages.custom[1049] }}</p>
			</div>
		</div>
	</div>
</div>
