<nav class="navbar navbar-dark bg-inverse navbar-full">
	<div class="nav navbar-nav">
        <a class="nav-link nav-item nav-link {{ page == 'home' ? 'active' : '' }}" href="/">Dashboard</a>
        <a class="nav-link nav-item nav-link {{ page == 'cms' ? 'active' : '' }}" href="/cms">CMS</a>
		<a class="nav-link nav-item nav-link {{ page == 'devblog' ? 'active' : '' }}" href="/devblog">Dev Blogs</a>
		<a class="nav-link nav-item nav-link {{ page == 'translations' ? 'active' : '' }}" href="/translations">Translations</a>
		<a class="nav-link nav-item nav-link {{ page == 'gamedata' ? 'active' : '' }}" href="/gamedata">Game Data</a>
		<a class="nav-link nav-item nav-link {{ page == 'mapper' ? 'active' : '' }}" href="/mapper">Mapper</a>
	</ul>
</nav>
