<h5>{{ content.npcs|length }} {{ languages.custom[402] }}</h5>
<br>
<table width="100%" class="placename_enemies">
    <thead>
    <th width="5%">{{ languages.custom[1055] }}</th>
    <th>{{ languages.custom[474] }}</th>
    <th>{{ languages.custom[1054] }}</th>
    </thead>
    <tbody>
    {% for data in content.npcs %}
        <tr>
            <td align="center"><img src="{{ data.icon.image }}" height="16"></td>
            <td>
                <a href="{{ data.content.url }}" data-xivdb-ignore="1">{{ data.content.name }}</a>
                {% if data.content.title|length > 1 %}
                - {{ data.content.title }}
                {% endif %}
            </td>
            <td>X: {{ data.position.x }} - Y: {{ data.position.y }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(function() {
        $('.placename_enemies').tablesorter({ widthFixed: true, widgets: ['zebra'] });
    });
</script>